.nav {
  grid-area: n;
  background-color: rgb(218, 218, 218);
  padding: 20px;
}

.item a {
  color: green;
  text-decoration: none;
}

.item a.active {
  font-weight: 700;
}

.fav {
  display: grid;
  grid-template-columns: 6fr 6fr;
}

.fav img {
  width: 50px;
  border-radius: 15px;
  border-collapse: collapse;
}